openapi: 3.0.0
info:
  title: Galaxy 3.2 API (wip)
  description: Galaxy 3.2 API (wip)
  contact:
    name: Ansible Galaxy Issues
    url: https://github.com/ansible/galaxy/issues
  version: 1.1.5
externalDocs:
  url: https://galaxy.ansible.com/docs/
servers:
- url: https://galaxy.ansible.com/
  description: Production server (uses live data)
- url: https://galaxy-dev.ansible.com/
  description: shared public dev server
- url: http://localhost:8000
  description: local sandbox
tags:
- name: Collections
  externalDocs:
    description: Creating Collections docs at galaxy.ansible.com
    url: https://galaxy.ansible.com/docs/contributing/creating_collections.html
- name: Collection-Imports
- name: Collection-Versions
- name: Download
- name: Introspection
  description: API used to gather information about the API itself
- name: v2
  description: API endpoints from the v2 API
- name: Notifications
- name: Me
  description: API endpoints related to the current user.
- name: Search
- name: Namespaces
- name: Tags
  description: API endpoint for Ansible Galaxy tags.
- name: Users
- name: v1
  description: API endpoints from the v1 API.
- name: Internal
  description: API endpoints used by the web user interface. These endpoints are not
    part of the stable Galaxy API and may change at any time.
paths:
  /api/:
    get:
      tags:
      - introspection
      operationId: GetAPI
      parameters: []
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                type: object
  /api/internal/me/notifications/:
    get:
      tags:
      - internal
      - notifications
      - me
      summary: List active user notifications
      operationId: GetMeNotifications
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /api/internal/me/notifications/clear/:
    put:
      tags:
      - internal
      - notifications
      - me
      operationId: PutMeNotificationsClear
      parameters: []
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - internal
      - notifications
      - me
      operationId: DeleteMeNotificationsClear
      parameters: []
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                type: object
  /api/internal/me/notifications/{id}/:
    get:
      tags:
      - internal
      - notifications
      - me
      operationId: GetMeNotificationDetail
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
    put:
      tags:
      - internal
      - notifications
      - me
      operationId: PutMeNotificationsDetail
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
    delete:
      tags:
      - internal
      - notifications
      - me
      operationId: DeleteMeNotificationsClearDetail
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
    patch:
      tags:
      - internal
      - notifications
      - me
      operationId: PatchMeNotificationsDetail
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_1'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /api/internal/me/preferences/:
    get:
      tags:
      - internal
      - me
      operationId: GetInternalMePreferences
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
    put:
      tags:
      - internal
      - me
      operationId: PutInternalMePreferences
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_2'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
    patch:
      tags:
      - internal
      - me
      operationId: PatchInternalMePreferences
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_3'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
  /api/internal/ui/collections/:
    get:
      tags:
      - internal
      - collections
      operationId: GetInternalUICollections
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /api/internal/ui/collections/{id}/:
    put:
      tags:
      - internal
      - collections
      operationId: PutInternalCollectionsDetail
      parameters:
      - name: id
        in: path
        description: A unique integer value identifying this collection.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_4'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
    patch:
      tags:
      - internal
      - collections
      operationId: PatchInternalUiCollectionDetail
      parameters:
      - name: id
        in: path
        description: A unique integer value identifying this collection.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_5'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
  /api/internal/ui/collections/{namespace__name}/{name}/:
    get:
      tags:
      - internal
      - collections
      operationId: GetInternalUiCollectionsDetailByNamespaceName
      parameters:
      - name: namespace__name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
  /api/internal/ui/namespaces/{namespace_id}/imports/:
    get:
      tags:
      - internal
      - namespaces
      operationId: GetInternalUIImportsByNamespaceId
      parameters:
      - name: namespace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
  /api/internal/ui/search/:
    get:
      tags:
      - internal
      - search
      operationId: GetInternalUISearch
      parameters: []
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                type: object
  /api/v1/:
    get:
      tags:
      - introspection
      - v1
      operationId: ListApiV1
      parameters: []
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /api/v1/me/:
    get:
      tags:
      - me
      - v1
      operationId: GetMeDetail
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
  /api/v1/namespaces/:
    get:
      tags:
      - namespaces
      - v1
      operationId: ListNamespaces
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Response containing a Page of a list of Namespaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesPage'
  /api/v1/search/:
    get:
      tags:
      - search
      - v1
      operationId: ListSearch
      parameters: []
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                type: object
  /api/v1/search/content/:
    get:
      tags:
      - search
      - v1
      operationId: ListContentSearch
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
  /api/v1/search/roles/:
    get:
      tags:
      - search
      - v1
      operationId: ListRoleSearchView_api_v1_search_roles_
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      responses:
        200:
          description: A page of Roles search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
  /api/v1/search/tags/:
    get:
      tags:
      - search
      - v1
      operationId: ListTagsSearchView_api_v1_search_tags_
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
  /api/v1/tags/:
    get:
      tags:
      - tags
      - v1
      operationId: ListTags
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: A page of tag details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
  /api/v1/tags/{id}/:
    get:
      tags:
      - tags
      - v1
      operationId: RetrieveTagDetail_api_v1_tags__id__
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
  /api/v1/users/:
    get:
      tags:
      - users
      - v1
      operationId: ListUserList_api_v1_users_
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Authorization error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
  /api/v1/users/{id}/:
    get:
      tags:
      - users
      - v1
      operationId: RetrieveUserDetail_api_v1_users__id__
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
    patch:
      tags:
      - users
      - v1
      operationId: PartialUpdateUserDetail_api_v1_users__id__
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: some body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_6'
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
  /api/v1/users/{id}/starred/:
    get:
      tags:
      - users
      - v1
      operationId: ListUserStarredList_api_v1_users__id__starred_
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: some response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
  /api/v2/collection-imports/{id}/:
    get:
      tags:
      - collection-imports
      - v2
      operationId: RetrieveCollectionImportView_api_v2_collection-imports__id__
      parameters:
      - name: id
        in: path
        description: A unique integer value identifying this collection import.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: The result of a collection import
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionImportResult'
  /api/v2/collection-versions/{id}/artifact/:
    get:
      tags:
      - collection-versions
      - v2
      operationId: RetrieveCollectionArtifactView_api_v2_collection-versions__id__artifact_
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Map of collection version artifact with download_url, sha256,
            and filename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionVersionArtifactDetail'
  /api/v2/collection-versions/{version_pk}/:
    get:
      tags:
      - collection-versions
      - v2
      operationId: GetCollectionVersionDetail
      parameters:
      - name: version_pk
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: A collection version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionVersion'
  /api/v2/collections/:
    post:
      tags:
      - collections
      - v2
      operationId: CreateCollectionListView_api_v2_collections_
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_7'
      responses:
        202:
          description: Result of collection import task with task url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionResult'
        401:
          description: Authorization error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        409:
          description: Conflict Error
          content:
            application/json:
              schema:
                discriminator:
                  propertyName: code
                  mapping:
                    conflict: '#/components/schemas/ConflictError'
                    conflict.collection_exists: '#/components/schemas/ConflictCollectionExistsError'
                    conflict.repository_name_conflict: '#/compontents/schemas/RepositoryNameError'
                    conflict.artifact_exists: '#/compontents/schemas/ArtifactExistsError'
                oneOf:
                - $ref: '#/components/schemas/ConflictError'
  /api/v2/collections/{id}/:
    get:
      tags:
      - collections
      - v2
      summary: Get a Collection
      operationId: RetrieveCollectionDetailView_api_v2_collections__id__
      parameters:
      - name: id
        in: path
        description: The collection id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: A Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /api/v2/collections/{id}/versions/:
    get:
      tags:
      - collections
      - v2
      operationId: ListCollectionVersionsById
      parameters:
      - name: id
        in: path
        description: The id of the Collection
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Response containing a page of CollectionVersionLinks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionVersionsPage'
  /api/v2/collections/{namespace}/{name}/:
    get:
      tags:
      - collections
      - v2
      operationId: GetCollectionByNamespaceName
      parameters:
      - name: namespace
        in: path
        description: The collection namespace
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: path
        description: The collection name
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^(?!.*__)[a-z]+[0-9a-z_]*$'
          type: string
      responses:
        200:
          description: A Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /api/v2/collections/{namespace}/{name}/versions/:
    get:
      tags:
      - collections
      - v2
      operationId: ListCollectionVersionsByNamespaceName
      parameters:
      - name: namespace
        in: path
        description: The collection namespace
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: path
        description: The collection name
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^(?!.*__)[a-z]+[0-9a-z_]*$'
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 10
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Response containing a page of CollectionVersionLinks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionVersionsPage'
  /api/v2/collections/{namespace}/{name}/versions/{version}/:
    get:
      tags:
      - collections
      - v2
      operationId: GetCollectionVersion
      parameters:
      - name: namespace
        in: path
        description: The collection namespace
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: path
        description: The collection name
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^(?!.*__)[a-z]+[0-9a-z_]*$'
          type: string
      - name: version
        in: path
        description: A semantic version string
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^((([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)$
          type: string
      responses:
        200:
          description: A collection version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionVersion'
  /api/v2/collections/{namespace}/{name}/versions/{version}/artifact/:
    get:
      tags:
      - collections
      - v2
      operationId: GetCollectionVersionArtifact
      parameters:
      - name: namespace
        in: path
        description: The collection namespace
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: path
        description: The collection name
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^(?!.*__)[a-z]+[0-9a-z_]*$'
          type: string
      - name: version
        in: path
        description: A semantic version string
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^((([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)$
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Map of collection version artifact with download_url, sha256,
            and filename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionVersionArtifactDetail'
  /download/{filename}:
    get:
      tags:
      - download
      operationId: DownloadArtifactByFilename
      parameters:
      - name: filename
        in: path
        description: Download the collection artifact
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: The collection artifact file binary contents
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Unique identifier for the error
          example: invalid
        message:
          type: string
          example: namespace and name parameters are required
        field:
          type: string
          description: The name of the field involved
          example: namespace
      description: Error data
    APIException:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Unique identifier for the exception
          example: not_authenticated
        message:
          type: string
          example: Authentication credentials were not provided.
        errors:
          type: array
          description: A list of additional error objects
          items:
            $ref: '#/components/schemas/Error'
      description: API Exception
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/APIException'
    ConflictCollectionExistsError:
      allOf:
      - $ref: '#/components/schemas/ConflictError'
    RepositoryNameError:
      allOf:
      - $ref: '#/components/schemas/ConflictError'
    ArtifactExistsError:
      allOf:
      - $ref: '#/components/schemas/ConflictError'
    ValidationError:
      allOf:
      - $ref: '#/components/schemas/APIException'
    PageCount:
      type: integer
    PageNext:
      type: string
    PagePrevious:
      type: string
    CollectionVersionLink:
      type: object
      properties:
        href:
          type: string
          description: The URL to the CollectionVersion
        version:
          maxLength: 64
          type: string
    TagDetail:
      required:
      - name
      type: object
      properties:
        active:
          type: string
          readOnly: true
        created:
          type: string
          description: Timestamp when this tag was created.
          readOnly: true
        id:
          type: integer
          description: Database ID for this tag.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this tag was last modified.
          readOnly: true
        name:
          maxLength: 512
          type: string
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this tag.
          readOnly: true
    CollectionVersionArtifactDetail:
      type: object
      properties:
        download_url:
          type: string
          readOnly: true
        filename:
          type: string
          readOnly: true
        sha256:
          type: string
        size:
          type: integer
    Collection:
      type: object
      properties:
        latest_version:
          $ref: '#/components/schemas/CollectionVersionLink'
        created:
          type: string
        deprecated:
          type: boolean
        name:
          type: string
        namespace:
          $ref: '#/components/schemas/CollectionNamespace'
        modified:
          type: string
        id:
          type: integer
        href:
          type: string
        versions_url:
          type: string
    CollectionImportError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
        traceback:
          type: string
    CollectionImportMessage:
      required:
      - level
      - message
      - time
      type: object
      properties:
        level:
          type: string
        message:
          type: string
        time:
          type: string
          format: date-time
      description: Message from collection importer including lint results
    CollectionImportResult:
      required:
      - error
      - finished_at
      - id
      - job_id
      - lint_records
      - messages
      - name
      - namespace
      - started_at
      - state
      - version
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CollectionImportError'
        finished_at:
          type: string
          format: date-time
        id:
          type: integer
        imported_version:
          type: string
          readOnly: true
        job_id:
          type: string
          format: uuid
        lint_records:
          type: object
        messages:
          type: array
          items:
            $ref: '#/components/schemas/CollectionImportMessage'
        name:
          maxLength: 64
          type: string
        namespace:
          type: string
        started_at:
          type: string
          format: date-time
        state:
          type: string
        version:
          maxLength: 64
          type: string
      description: Collection import result
    CollectionNamespace:
      type: object
      properties:
        name:
          type: string
        id:
          type: integer
        href:
          type: string
          description: link to the Namespace
    CollectionVersionDetailCollection:
      type: object
      properties:
        name:
          type: string
        id:
          type: integer
        href:
          type: string
          description: link to the Collection
    CollectionVersionDetailArtifact:
      type: object
      properties:
        filename:
          type: string
        size:
          type: integer
        sha256:
          type: string
    CollectionVersionDetailMetadata:
      type: object
      properties:
        documentation:
          type: object
        description:
          type: string
        readme:
          type: string
        repository:
          type: object
        issues:
          type: object
        version:
          type: string
        license_file:
          type: object
        tags:
          type: array
          items:
            type: string
        dependencies:
          type: object
        license:
          type: array
          items:
            type: string
        name:
          type: string
        namespace:
          type: string
        authors:
          type: array
          items:
            type: string
        homepage:
          type: object
      description: The Collection Version metadata from collections galaxy.yml or
        MANIFEST.JSON
    CollectionVersion:
      type: object
      properties:
        artifact:
          $ref: '#/components/schemas/CollectionVersionDetailArtifact'
        metadata:
          $ref: '#/components/schemas/CollectionVersionDetailMetadata'
        hidden:
          type: boolean
        download_url:
          type: string
        namespace:
          $ref: '#/components/schemas/CollectionNamespace'
        id:
          type: integer
        href:
          type: string
        collection:
          $ref: '#/components/schemas/CollectionVersionDetailCollection'
    CollectionVersionsPage:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/PageCount'
        next:
          $ref: '#/components/schemas/PageNext'
        previous:
          $ref: '#/components/schemas/PagePrevious'
        results:
          type: array
          description: List of CollectionVersionLinks for this Page
          items:
            $ref: '#/components/schemas/CollectionVersionLink'
      description: A page of a list of CollectionVersionLinks
    User:
      required:
      - username
      type: object
      properties:
        active:
          type: string
          readOnly: true
        avatar_url:
          maxLength: 256
          type: string
        created:
          type: string
          description: Timestamp when this user was created.
          readOnly: true
        date_joined:
          type: string
          format: date-time
        full_name:
          maxLength: 254
          type: string
        id:
          type: integer
          description: Database ID for this user.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this user was last modified.
          readOnly: true
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        staff:
          type: string
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this user.
          readOnly: true
        username:
          maxLength: 30
          pattern: ^[a-zA-Z0-9_.@+-]+$
          type: string
          description: Required. 30 characters or fewer. Letters, numbers and @/./+/-/_
            characters
      description: A v1 User
    UsersPage:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/PageCount'
        next:
          $ref: '#/components/schemas/PageNext'
        previous:
          $ref: '#/components/schemas/PagePrevious'
        results:
          type: array
          description: List of Users for this Page
          items:
            $ref: '#/components/schemas/User'
      description: A page of a list of Users
    NamespacesPage:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/PageCount'
        next:
          $ref: '#/components/schemas/PageNext'
        previous:
          $ref: '#/components/schemas/PagePrevious'
        results:
          type: array
          description: List of Namespaces for this Page
          items:
            $ref: '#/components/schemas/Namespace'
      description: A Page of a list of Namespaces
    CreateCollectionResult:
      type: object
      properties:
        task:
          type: string
          description: The url for the queued collection import task. Check it for
            progress and status.
      description: A map of collection import task info, including its url
    Namespace:
      required:
      - name
      type: object
      properties:
        active:
          type: string
          readOnly: true
        avatar_url:
          maxLength: 256
          type: string
          nullable: true
        company:
          maxLength: 256
          type: string
          nullable: true
        created:
          type: string
          description: Timestamp when this namespace was created.
          readOnly: true
        description:
          maxLength: 255
          type: string
        email:
          maxLength: 256
          type: string
          nullable: true
        html_url:
          maxLength: 256
          type: string
          nullable: true
        id:
          type: integer
          description: Database ID for this namespace.
          readOnly: true
        is_vendor:
          type: boolean
        location:
          maxLength: 256
          type: string
          nullable: true
        modified:
          type: string
          description: Timestamp when this namespace was last modified.
          readOnly: true
        name:
          maxLength: 512
          type: string
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this namespace.
          readOnly: true
      description: A Namespace
    SearchRolesResult:
      required:
      - download_rank
      - name
      - relevance
      - search_rank
      type: object
      properties:
        active:
          type: string
          readOnly: true
        company:
          maxLength: 50
          type: string
          nullable: true
        created:
          type: string
          description: Timestamp when this content was created.
          readOnly: true
        description:
          maxLength: 255
          type: string
        download_count:
          type: string
          readOnly: true
        download_rank:
          type: number
        id:
          type: integer
          description: Database ID for this content.
          readOnly: true
        imported:
          type: string
          format: date-time
          nullable: true
        is_valid:
          type: boolean
          readOnly: true
        license:
          maxLength: 50
          type: string
        min_ansible_version:
          maxLength: 10
          type: string
          nullable: true
        modified:
          type: string
          description: Timestamp when this content was last modified.
          readOnly: true
        name:
          maxLength: 512
          type: string
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        relevance:
          type: number
        role_type:
          type: string
          readOnly: true
        search_rank:
          type: number
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        travis_status_url:
          type: string
          readOnly: true
        url:
          type: string
          description: URL for this content.
          readOnly: true
        username:
          type: string
          readOnly: true
    inline_response_200:
      type: object
      properties:
        active:
          type: string
          readOnly: true
        collection:
          type: string
          readOnly: true
        created:
          type: string
          description: Timestamp when this user notification was created.
          readOnly: true
        id:
          type: integer
          description: Database ID for this user notification.
          readOnly: true
        message:
          type: string
          readOnly: true
        modified:
          type: string
          description: Timestamp when this user notification was last modified.
          readOnly: true
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        repository:
          type: string
          readOnly: true
        seen:
          type: boolean
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        type:
          type: string
          readOnly: true
        url:
          type: string
          description: URL for this user notification.
          readOnly: true
    body:
      type: object
      properties:
        seen:
          type: boolean
    body_1:
      type: object
      properties:
        seen:
          type: boolean
    inline_response_200_1:
      required:
      - preferences
      type: object
      properties:
        active:
          type: string
          readOnly: true
        collections_followed:
          type: array
          items:
            type: integer
        created:
          type: string
          description: Timestamp when this user preferences was created.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this user preferences was last modified.
          readOnly: true
        namespaces_followed:
          type: array
          items:
            type: integer
        preferences:
          type: object
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        repositories_followed:
          type: array
          items:
            type: integer
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this user preferences.
          readOnly: true
    body_2:
      required:
      - preferences
      type: object
      properties:
        collections_followed:
          type: array
          items:
            type: integer
        namespaces_followed:
          type: array
          items:
            type: integer
        preferences:
          type: object
        repositories_followed:
          type: array
          items:
            type: integer
    body_3:
      type: object
      properties:
        collections_followed:
          type: array
          items:
            type: integer
        namespaces_followed:
          type: array
          items:
            type: integer
        preferences:
          type: object
        repositories_followed:
          type: array
          items:
            type: integer
    inline_response_200_2_latest_version:
      required:
      - version
      type: object
      properties:
        content_summary:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        metadata:
          type: object
        modified:
          type: string
          format: date-time
          readOnly: true
        pk:
          type: integer
          readOnly: true
        quality_score:
          maximum: 5
          minimum: 0
          type: number
          nullable: true
        version:
          maxLength: 64
          type: string
    inline_response_200_2_namespace:
      required:
      - name
      - owners
      type: object
      properties:
        active:
          type: boolean
        avatar_url:
          maxLength: 256
          type: string
          nullable: true
        company:
          maxLength: 256
          type: string
          nullable: true
        created:
          type: string
          format: date-time
          readOnly: true
        description:
          maxLength: 255
          type: string
        email:
          maxLength: 256
          type: string
          nullable: true
        html_url:
          maxLength: 256
          type: string
          nullable: true
        id:
          type: integer
          readOnly: true
        is_vendor:
          type: boolean
        location:
          maxLength: 256
          type: string
          nullable: true
        modified:
          type: string
          format: date-time
          readOnly: true
        name:
          maxLength: 512
          type: string
        owners:
          type: array
          items:
            type: integer
    inline_response_200_2:
      required:
      - latest_version
      - name
      type: object
      properties:
        community_score:
          type: number
          nullable: true
        community_survey_count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
        created:
          type: string
          format: date-time
          readOnly: true
        deprecated:
          type: boolean
        download_count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
        id:
          type: integer
          readOnly: true
        latest_version:
          $ref: '#/components/schemas/inline_response_200_2_latest_version'
        modified:
          type: string
          format: date-time
          readOnly: true
        name:
          maxLength: 64
          type: string
        namespace:
          $ref: '#/components/schemas/inline_response_200_2_namespace'
    body_4:
      type: object
      properties:
        deprecated:
          type: boolean
    inline_response_200_3:
      type: object
      properties:
        deprecated:
          type: boolean
        id:
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
    body_5:
      type: object
      properties:
        deprecated:
          type: boolean
    inline_response_200_4_latest_version:
      required:
      - contents
      - metadata
      - version
      type: object
      properties:
        contents:
          type: object
        created:
          type: string
          format: date-time
          readOnly: true
        metadata:
          type: object
        modified:
          type: string
          format: date-time
          readOnly: true
        pk:
          type: integer
          readOnly: true
        quality_score:
          maximum: 5
          minimum: 0
          type: number
          nullable: true
        readme_html:
          type: string
        version:
          maxLength: 64
          type: string
    inline_response_200_4:
      required:
      - latest_version
      - name
      type: object
      properties:
        all_versions:
          type: string
          readOnly: true
        community_score:
          type: number
          nullable: true
        community_survey_count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
        created:
          type: string
          format: date-time
          readOnly: true
        deprecated:
          type: boolean
        download_count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
        id:
          type: integer
          readOnly: true
        latest_version:
          $ref: '#/components/schemas/inline_response_200_4_latest_version'
        modified:
          type: string
          format: date-time
          readOnly: true
        name:
          maxLength: 64
          type: string
        namespace:
          $ref: '#/components/schemas/inline_response_200_2_namespace'
    inline_response_200_5:
      required:
      - finished_at
      - name
      - started_at
      - state
      - version
      type: object
      properties:
        finished_at:
          type: string
          format: date-time
        href:
          type: string
          readOnly: true
        id:
          type: integer
          readOnly: true
        name:
          maxLength: 64
          type: string
        namespace:
          type: string
          readOnly: true
        started_at:
          type: string
          format: date-time
        state:
          type: string
        type:
          type: string
          readOnly: true
        version:
          maxLength: 64
          type: string
    inline_response_200_6:
      required:
      - username
      type: object
      properties:
        active:
          type: string
          readOnly: true
        authenticated:
          type: string
          readOnly: true
        avatar_url:
          maxLength: 256
          type: string
        created:
          type: string
          description: Timestamp when this user was created.
          readOnly: true
        date_joined:
          type: string
          format: date-time
        full_name:
          maxLength: 254
          type: string
        id:
          type: integer
          description: Database ID for this user.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this user was last modified.
          readOnly: true
        primary_email:
          type: string
          readOnly: true
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        staff:
          type: string
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this user.
          readOnly: true
        username:
          maxLength: 30
          pattern: ^[a-zA-Z0-9_.@+-]+$
          type: string
          description: Required. 30 characters or fewer. Letters, numbers and @/./+/-/_
            characters
    inline_response_200_7:
      required:
      - download_rank
      - name
      - relevance
      - search_rank
      type: object
      properties:
        active:
          type: string
          readOnly: true
        company:
          maxLength: 50
          type: string
          nullable: true
        created:
          type: string
          description: Timestamp when this content was created.
          readOnly: true
        description:
          maxLength: 255
          type: string
        download_count:
          type: string
          readOnly: true
        download_rank:
          type: number
        id:
          type: integer
          description: Database ID for this content.
          readOnly: true
        imported:
          type: string
          format: date-time
          nullable: true
        is_valid:
          type: boolean
          readOnly: true
        license:
          maxLength: 50
          type: string
        min_ansible_version:
          maxLength: 10
          type: string
          nullable: true
        modified:
          type: string
          description: Timestamp when this content was last modified.
          readOnly: true
        name:
          maxLength: 512
          type: string
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        relevance:
          type: number
        role_type:
          type: string
          readOnly: true
        search_rank:
          type: number
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        travis_status_url:
          type: string
          readOnly: true
        url:
          type: string
          description: URL for this content.
          readOnly: true
        username:
          type: string
          readOnly: true
    inline_response_200_8:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/PageCount'
        next:
          $ref: '#/components/schemas/PageNext'
        previous:
          $ref: '#/components/schemas/PagePrevious'
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchRolesResult'
    inline_response_200_9:
      required:
      - name
      type: object
      properties:
        active:
          type: string
          readOnly: true
        created:
          type: string
          description: Timestamp when this tag was created.
          readOnly: true
        id:
          type: integer
          description: Database ID for this tag.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this tag was last modified.
          readOnly: true
        name:
          maxLength: 512
          type: string
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        roles_count:
          type: integer
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this tag.
          readOnly: true
    inline_response_200_10:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/TagDetail'
    inline_response_200_11:
      required:
      - name
      type: object
      properties:
        active:
          type: string
          readOnly: true
        created:
          type: string
          description: Timestamp when this tag was created.
          readOnly: true
        id:
          type: integer
          description: Database ID for this tag.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this tag was last modified.
          readOnly: true
        name:
          maxLength: 512
          type: string
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this tag.
          readOnly: true
    inline_response_200_12:
      required:
      - username
      type: object
      properties:
        active:
          type: string
          readOnly: true
        avatar_url:
          maxLength: 256
          type: string
        created:
          type: string
          description: Timestamp when this user was created.
          readOnly: true
        date_joined:
          type: string
          format: date-time
        full_name:
          maxLength: 254
          type: string
        id:
          type: integer
          description: Database ID for this user.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this user was last modified.
          readOnly: true
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        staff:
          type: string
          readOnly: true
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this user.
          readOnly: true
        username:
          maxLength: 30
          pattern: ^[a-zA-Z0-9_.@+-]+$
          type: string
          description: Required. 30 characters or fewer. Letters, numbers and @/./+/-/_
            characters
    body_6:
      type: object
      properties:
        avatar_url:
          maxLength: 256
          type: string
        date_joined:
          type: string
          format: date-time
        full_name:
          maxLength: 254
          type: string
        username:
          maxLength: 30
          pattern: ^[a-zA-Z0-9_.@+-]+$
          type: string
          description: Required. 30 characters or fewer. Letters, numbers and @/./+/-/_
            characters
    inline_response_200_13_role:
      required:
      - name
      - namespace
      type: object
      properties:
        github_repo:
          type: string
          readOnly: true
        github_user:
          type: string
          readOnly: true
        id:
          type: integer
          readOnly: true
        name:
          maxLength: 512
          type: string
        namespace:
          type: integer
    inline_response_200_13:
      type: object
      properties:
        active:
          type: string
          readOnly: true
        created:
          type: string
          description: Timestamp when this stargazer was created.
          readOnly: true
        modified:
          type: string
          description: Timestamp when this stargazer was last modified.
          readOnly: true
        owner:
          type: string
          readOnly: true
        related:
          type: string
          description: Data structure with URLs of related resources.
          readOnly: true
        role:
          $ref: '#/components/schemas/inline_response_200_13_role'
        summary_fields:
          type: string
          description: Data structure with name/description for related resources.
          readOnly: true
        url:
          type: string
          description: URL for this stargazer.
          readOnly: true
    body_7:
      type: object
      properties:
        sha256sum:
          type: string
        file:
          type: string
          format: binary
  responses:
    Conflict:
      description: Conflict Error
      content:
        application/json:
          schema:
            discriminator:
              propertyName: code
              mapping:
                conflict: '#/components/schemas/ConflictError'
                conflict.collection_exists: '#/components/schemas/ConflictCollectionExistsError'
                conflict.repository_name_conflict: '#/compontents/schemas/RepositoryNameError'
                conflict.artifact_exists: '#/compontents/schemas/ArtifactExistsError'
            oneOf:
            - $ref: '#/components/schemas/ConflictError'
    Unauthorized:
      description: Authorization error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIException'
    CollectionVersions:
      description: Response containing a page of CollectionVersionLinks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CollectionVersionsPage'
    CreateCollectionResult:
      description: Result of collection import task with task url
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCollectionResult'
    Users:
      description: Response containing a Page of a list of Users
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UsersPage'
    Namespaces:
      description: Response containing a Page of a list of Namespaces
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NamespacesPage'
  parameters:
    Page:
      name: page
      in: query
      description: A page number within the paginated result set.
      required: false
      style: form
      explode: true
      schema:
        type: integer
        default: 1
    PageSize:
      name: page_size
      in: query
      description: Number of results to return per page.
      required: false
      style: form
      explode: true
      schema:
        maximum: 1000
        minimum: 0
        type: integer
        default: 10
    Search:
      name: search
      in: query
      description: A search term.
      required: false
      style: form
      explode: true
      schema:
        type: string
    CollectionNamespace:
      name: namespace
      in: path
      description: The collection namespace
      required: true
      style: simple
      explode: false
      schema:
        type: string
    CollectionName:
      name: name
      in: path
      description: The collection name
      required: true
      style: simple
      explode: false
      schema:
        pattern: ^(?!.*__)[a-z]+[0-9a-z_]*$'
        type: string
    CollectionVersion:
      name: version
      in: path
      description: A semantic version string
      required: true
      style: simple
      explode: false
      schema:
        pattern: ^((([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)$
        type: string
